@scope (.background) {
    :scope {
        margin-top: 72px;
        padding-top: 110px;
        padding-bottom: 80px;
        background: no-repeat url('https://chicksgold.com/backgrounds/default.jpg');
        background-position: center;
        background-size: cover;
        color: white;
    }

    .container {
        min-height: 600px;
        margin-inline: auto;
    }

    .heading {
        font-size: 1.5rem;
        font-weight: 500;
    }

    .searchbar-row {
        flex-wrap: wrap;
        margin-bottom: 12px;
        margin-top: 20px;
    }

    .filter {
        --gap: 1rem;
        border-radius: 4px;
        height: 50px;
        padding: 12px;
        border: .5px;
        border-radius: 4px;
        background-color: rgba(76, 96, 133, .2);
        color: white;

        &:hover {
            background-color: rgba(76, 96, 133, .4);

            .arrow {
                rotate: 180deg;
            }
        }

        &:focus-visible {
            outline: none;
            background-color: rgba(76, 96, 133, .6);
        }

        &::placeholder {
            font-weight: 500;
            color: rgba(250, 252, 255, .75);
        }

        input {
            appearance: none;
            height: auto;
            padding: 0;
            min-width: 0;
            background-color: transparent;
        }

        .arrow {
            margin-left: auto;
            transition: .2s ease-in;
        }
    }

    .game-filter {
        background-color: #4c6085;

        &:hover {
            background-color: #465778;
        }
    }

    .other-filters {
        --gap: 0;
        flex-wrap: wrap;

        .filter {
            flex-grow: 1;

            &:first-child {
                border-right: 1px solid #4c6085;
            }
        }
    }

    @media (max-width: 576px) {
        :scope {
            padding-inline: 20px;
        }

        .searchbar-row {
            justify-content: space-evenly;

            >* {
                flex-grow: 1;
            }

            .other-filters {
                .filter:first-child {
                    border-right: none;
                }
            }
        }
    }

    @media (min-width: 576px) {
        .container {
            max-width: 540px;
        }

        .searchbar-row {

            .search-filter,
            .other-filters {
                flex-grow: 1;
            }
        }
    }

    @media (min-width: 768px) and (max-width: 992px) {
        .container {
            max-width: 566px;
        }

        .searchbar-row {
            justify-content: center;

            >* {
                flex-grow: 1;
            }

            .other-filters {
                width: 100%;
                flex-grow: 1;

                .filter {
                    flex-grow: 1;
                }
            }
        }
    }

    @media (min-width: 992px) {
        .container {
            max-width: 960px;
        }

        .searchbar-row {
            >:first-child {
                max-width: 294px;
            }

            >:nth-child(2) {
                flex: 1 0 0%;
            }

            .other-filters {
                flex-grow: 0;
            }
        }
    }

    @media (min-width: 992px) and (max-width: 1200px) {
        .searchbar-row {
            .other-filters {
                flex-grow: 1;
            }
        }
    }

    @media (min-width: 1200px) and (max-width: 3839px) {
        .container {
            max-width: 1260px;
        }

        .heading {
            font-size: 2.5rem;
        }
    }
}