@scope (.card-container) {
    :scope {
        padding: 15px 10px;
        border-radius: 5px;
        background: rgba(76, 96, 133, .15) 0 0 no-repeat padding-box;
        color: white;

        *:not(.options-row *) {
            margin-bottom: 10px;
        }
    }

    .stock {
        --gap: 0.5rem;
        justify-content: space-between;
        align-items: center;

        > :last-child {
            min-width: 0;
            max-width: 60px;
            height: 40px;
        }
    }

    .stock-info {
        font-size: 10px;
        letter-spacing: .51px;
    }

    .sale {
        display: list-item;
        text-transform: uppercase;
        list-style-position: inside;

        &::marker {
            color: #39e29d;
        }
    }

    .availability {
        display: block;
        width: fit-content;
        padding-inline: 11px;
        padding-block: 3px;
        border: 2px solid #39e29d;
        border-radius: 2px;
        background-color: transparent;
        color: #39e29d;
        text-align: center;
    }

    .icon {
        img {
            display: block;
            width: 50px;
            aspect-ratio: 1;
        }
    }

    .price {
        font-weight: 700;
    }

    .discount {
        color: hsla(0, 0%, 100%, .75);
        text-decoration: line-through solid #fd4a4a;
    }

    .description {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        color: hsla(0, 0%, 100%, .75);
        font-size: 12px;
        line-height: 16px;
        opacity: .75;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .options-row {
        --gap: 11px;
        align-content: center;

        >button {
            display: flex;
            justify-content: center;
            align-items: center;
            width: calc(50% - 7.5px);
            height: 40px;

            * {
                flex: 1 1 auto;
            }
        }

        .details {
            background-color: #3f4254;
            color: white;
        }

        .add {
            background-color: #5762d5;
            color: white;

            .icon {
                height: 75%;
                padding: 3px 1px;
                border-radius: 4px;
                background: #454da8;
                align-content: center;

                img {
                    display: block;
                    height: 16px;
                    width: 16px;
                    margin-inline: auto;
                }
            }
        }
    }

    @media (max-width: 576px) {
        .stock {
            > :last-child {
                display: none;
            }
        }
    }
}