@scope (.paginator) {
    :scope {
        --gap: 7px;
        justify-content: center;
        align-items: center;
    }

    button {
        height: 40px;
        padding-inline: 1rem;
        cursor: pointer;
        background-color: transparent;
        color: white;

        &:hover,
        &:active {
            background-color: #5762d5;
        }
    }

    .arrow {
        border: 1px solid #5762d5;
    }

    @media (width < 600px) {
        :scope>button {
            font-size: 14px;
            padding-inline: auto;
            height: 30px;
            width: 30px;

            &:nth-child(n+4):nth-child(-n+5) {
                display: none;
            }
        }
    }

}